@import 'nib'
global-reset()

//
// global styles
//
*
  outline none
  box-sizing border-box

body, html
  height 100%
  padding 0
  margin 0
  background black
  cursor default !important

#react-root
  height 100%

//
// variables
//
defaultFont = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
textColor = white
hoverColor = white
backgroundColor = black // #f6f7f9
typeDefaultColor = #666
type0Color = #00ffff
type2Color = yellow
type8Color = #4267b2 // facebook blue
type10Color = #42b72a // messenger green
type74Color = red

//
// imports
//
@import '../imports/layouts/*'
@import '../imports/components/*'
