@import 'nib'
global-reset()

//
// global styles
//
*
  outline none
  box-sizing border-box

body, html
  height 100%
  padding 0
  margin 0
  background #000
  cursor default !important
  // overflow hidden

#react-root
  height 100%

//
// variables
//
defaultFont = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif

//
// imports
//
@import '../imports/layouts/*'
@import '../imports/components/*'
