html, body

  height 100%
  width 100%
  overflow hidden

  padding 0
  margin 0

  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

*:focus
  outline none

input, textarea, select
  font-family inherit
  font-size inherit