$background-color = white
$people-color = grey
$interval-color = black

$background-color = #3B5998
$interval-color = #65A830

$background-color = #3B5998
$interval-color = #000000

// $background-color = black
// $interval-color = #65A830

#timeline

  svg
    background-color $background-color

  .person
    .box
      fill $background-color

    &:hover .box
      fill $people-color

  .interval
    fill $interval-color

    // &.small
    //   fill #e72410
    // &.middle
    //   fill #fff000
    // &.long
    //   fill #04a0ea
    // &.extra
    //   fill #4c4848

