$background-color = white
$people-color = transparent
$interval-color = black


#timeline

  svg
    background-color $background-color

  .person
    .box
      fill $background-color

    &:hover .box
      fill $people-color

  .interval
    fill $interval-color

