#timeline
  background-color #000

  g.item
    fill green

  path.domain
    fill transparent

  line
    stroke #2b2b2b

  .group-label
    fill gray
    font-size 0.8em
    font-family "Helvetica"

  .tick text
    fill gray


  // .d3-tip {
  //     background: white;
  //     color: black;
  // }
