.TimelineSVG

  transform rotateX(180deg)
  background-color backgroundColor
  display block

  line
    stroke typeDefaultColor
    opacity 0.8

  line.buddy
    opacity 1

  line.statusType0
    stroke type0Color

  line.statusType2
    stroke type2Color

  line.statusType8
    stroke type8Color

  line.statusType10
    stroke type10Color

  line.statusType74
    stroke type74Color

  line.friend
    stroke transparent

    &:hover
      stroke rgba(255, 255, 255, 0.2)
