.TimelineDIV

  .svg
    background-color black
    overflow hidden

  .wrapper
    position relative

    > div
      position absolute

  .interval
    position absolute
    width 100%
    background-color #42b72a
    // padding-bottom 5px

  .interval::after
    width 100%
    height 10px
    bottom 0
    background-color red
    position absolute

