.TimelineSVG

  transform rotateX(180deg)
  background-color #202020
  display block

  line
    stroke onlineGreen

  line.friend
    stroke transparent

    &:hover
      stroke rgba(255, 255, 255, 0.2)
